q.exe
m.cpp
Nowy folder
logus.ini
logus.log
consolel1.log
console.log
a.exe
.vscode/settings.json
logusInfoOutput.log
logusErrors.log
.vscode/c_cpp_properties.json
.gitignore
console.log.1
console.log.2
console.log.5
console.log.3
console.log.4
.gitignore
