1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", ""
      VALUE "FileDescription", "Logus"
      VALUE "FileVersion", "20.11"
      VALUE "InternalName", "Logus"
      VALUE "LegalCopyright", "Copyright (C) 2018-2020 DarXe and Niventill"
      VALUE "OriginalFilename", "Logus.exe"
      VALUE "ProductName", "Logus"
      VALUE "ProductVersion", "20.11"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0, 1252
  END
END

id ICON "icon.ico"